:root {
    --ion-padding: 0px!important; /* Remove padding around outside of video */
    --ion-background-color: black!important;
}

#video-container, video {
    /* Make video span entire window */
    max-width: 100%!important;
    max-height: 100%!important;
    height: 100vh;
}

/* Hide massive centre playbutton */
.shaka-play-button-container {
    display: none!important;
}

.shaka-bottom-controls {
    /* Move controls further down */
    padding-bottom: 15px!important;
}

.shaka-skim-container {
    background: linear-gradient(to top,#000 0,rgba(0,0,0,0) 70px)!important;
}
.shaka-controls-button-panel, .shaka-seek-bar-container, .shaka-skim-container {
    transition: opacity linear 0.2s!important;
    -webkit-transition: opacity linear 0.2s!important;
}

.shaka-settings-menu {
    /* Move the settings dropdown up */
    right: 45px!important;
    bottom: 80px!important;
}

.shaka-volume-bar-container {
    margin-right: 30px;
}

#mpp-action-popup {
    display: block;
    margin: auto;
    width: 190px;
    position: absolute;
    top: 20px;
    left: calc(50% - 90px);
    z-index: 1;
    background-color: rgba(0,0,0,0.7);
    color: white;
    padding: 10px;
    padding-top: 5px;
    text-align: center;
    border-radius: 15px;
    font-weight: bold;
    font-size: 39px;
    opacity: 0;
    animation-name: fadeout;
    animation-duration: 0.5s;
}

#mpp-action-popup .material-icons {
    font-size: 50px;
    width: 100%;
}

#mpp-action-popup p {
    margin: 0;
    position: relative;
    top: -7px;
    font-family: Roboto-Regular,Roboto,sans-serif;
}

@keyframes fadeout {
    from {
        opacity: 1;
    }

    80% {
        opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }

  .shaka-range-container {
      height: 7px!important;
  }

  .shaka-range-element {
      height: 15px!important;
  }

  .shaka-range-element:hover {
    cursor: pointer!important;
  }

  /* Tooltip material theme */
  .tippy-box[data-theme~=material]{background-color:#505355;font-weight:600}.tippy-box[data-theme~=material][data-placement^=top]>.tippy-arrow:before{border-top-color:#505355}.tippy-box[data-theme~=material][data-placement^=bottom]>.tippy-arrow:before{border-bottom-color:#505355}.tippy-box[data-theme~=material][data-placement^=left]>.tippy-arrow:before{border-left-color:#505355}.tippy-box[data-theme~=material][data-placement^=right]>.tippy-arrow:before{border-right-color:#505355}.tippy-box[data-theme~=material]>.tippy-backdrop{background-color:#505355}.tippy-box[data-theme~=material]>.tippy-svg-arrow{fill:#505355}
  /* Tooltip scale animation */
  .tippy-box[data-animation=scale][data-placement^=top]{transform-origin:bottom}.tippy-box[data-animation=scale][data-placement^=bottom]{transform-origin:top}.tippy-box[data-animation=scale][data-placement^=left]{transform-origin:right}.tippy-box[data-animation=scale][data-placement^=right]{transform-origin:left}.tippy-box[data-animation=scale][data-state=hidden]{transform:scale(.5);opacity:0}