body {
    padding: 15px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #242424;
    border: 1px solid white;
    min-height: 500px;
    overflow-x: hidden;
    font-size: 16px;
    scrollbar-color: #313131 #242424;
}

img {
    width: 50%;
    margin: auto;
    display: block;
}

*::-webkit-scrollbar {
    width: 8px;
  }

*::-webkit-scrollbar-track {
    background: #242424;
}

*::-webkit-scrollbar-thumb {
    background-color: #313131;
}  

h1 {
    color: lightblue;
    font-size: 20px;
    padding: 10px;
}

p {
    color: lightblue;
    padding: 0px 10px;
}

iframe {
    background-color: white;
}

a i {
    color: lightblue;
    margin-right: 10px;
}

a:focus {
    outline: none;
}

.slide-menu {
    position: relative;
    height: 450px;
    color: white;
}

.slide-menu li > a, .slide-menu label {
    padding: 10px;
    color: white;
    text-decoration: none;
    border-radius: 2px;
}

.slide-menu li > a:hover, .slide-menu label:hover {
    background-color: #313131;
}

.right {
    float: right;
}

.slide-menu__backlink {
    font-weight: bold;
    margin-bottom: 20px;
}

input[type="checkbox"] {
    float: right;
}

input[type="url"] {
    width: 100%;
    height: 20px;
}

.defaultRadioLabel {
    color: white;
}